body
{
	font-family:Calibri;
}
#outer
{
	height:auto;
	width:100%;
}
#header
{
	height:200px;
	width:100%;
}
#menu
{
	height:50px;
	width:100%;
	border-radius:10px;
	font-size:25px;
	margin-top:-20px;
	margin-bottom:-10px;
}
#logo
{
	
	height:200px;
	width:15%;
	float:left;
	background-color:white;
}
#heading
{
	height:200px;
	width:85%;
	float:right;
	color:white;
	background-color:#024753;
	border-radius:50px 5px 50px 50px;
}
#menu ul
{
	list-style-type:none;
}
#menu ul li
{
	display:inline;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:5px;
	background-color:#024753;
	border-radius:50px 5px 50px 50px;
}
#menu ul li a
{
	color:white;
	text-decoration:none;
}
#menu ul li:hover
{
	font-size:110%;
}
#rowa
{
	height:400px;
	width:45%;
	float:left;
	margin:10px;
	background-color:#024753;
	color:white;
	border-radius:0px 50px 0px 50px;
	box-shadow:10px 10px 20px black;
}
#rowb
{
	height:400px;
	width:45%;
	float:right;
	margin:10px;
	background-color:#024753;
	color:white;
	border-radius:0px 50px 0px 50px;
	box-shadow:10px 10px 20px black;
}
#footer
{
	height:100px;
	width:100%;
	background-color:pink;
}
#row
{
	height:430px;
	width:100%;
}
#map
{
	height:300px;
	width:100%;
	border:1px solid;
}
#footer
{
	height:100px;
	width:100%;
	background-color:grey;
	border-radius:50px 5px 50px 50px;
	color:white;
	font-size:17px;
	text-align:center;
}